[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slate3k = "*"
pypdf2 = "*"
tabula-py = "*"
tabulate = "*"
ghostscript = "*"
camelot-py = "*"
tk = "*"
opencv-python = "*"
pypdf = "*"
pymupdf = "*"

[dev-packages]
black = "*"
pylint = "*"

[scripts]
format = "black *.py"
lint = "pylint ."

[requires]
python_version = "3.8"
