[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "==3.5.0"
python-dateutil = "*"

[dev-packages]
black = "*"
pylint = "*"

[scripts]
format = "black *.py"
lint = "pylint ."
test = "python -m unittest discover -s test -v"

[requires]
python_version = "3.8"
