[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = ">=3.5.0"
python-dateutil = ">=2.8.2"
pymupdf = ">=1.21.1"

[dev-packages]
black = "*"
pylint = "*"

[scripts]
format = "black *.py"
lint = "pylint ."
test = "python -m unittest discover -s test -v"
test_handlers = "bash ./test/test_handlers.sh"

[requires]
python_version = "3.9"
